{% extends "dashboardBase.html" %}
{% load custom_tags %}
<!-- Link the css -->
{% block link-css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

<!-- Main content -->
{% block main-content %}
<div class="main-content">
    <!-- Top Bar -->
    <div class="topbar">
        <div class="topbar-search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="user-info">
            <span>{{ user.username | capfirst }}</span>
            <div onclick="showPP()">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="pp-img" >
                {% else %}
                <img src="/media/profile_pictures/wow.jpg" alt="Default Profile Picture" class="pp-img">
                {% endif %}
            </div>            
        </div>
    </div>

    <!-- Content -->
    <div class="content">
        <h1 class="page-title">User Profile</h1>
        
        <div class="profile-container">

            <!-- Left Column - Profile Details -->
            <div>

                <!-- Simple user info  -->
                <div class="card">
                    <div class="card-header">
                        Profile Information
                    </div>
                    <div class="card-body">
                        <div class="profile-image">
                            <div onclick="showPP()">
                                {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="pp-img" >
                                {% else %}
                                <img src="/media/profile_pictures/wow.jpg" alt="Default Profile Picture" class="pp-img">
                                {% endif %}
                            </div>
                            
                            <form method="post" action="{% url 'UserManagement:profile' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="pp-upload-form">
                                    <label for="pp-input" class="pp-label">
                                        <i class="fas fa-camera"></i> Change Photo
                                        <span id="file-name" style="margin-left: 10px; color: gray;">No file selected</span>
                                    </label>
                                    <input id="pp-input" name="profile_picture" type="file" style="display: none;" onchange="showFileName(event)">
                                    
                                </div>
                                    <input type="submit" class="pp-submit">
                            </form>
                        </div>
                        
                        {% if user.type == 'donor' %}
                        <div class="user-role role-donor">Donor</div>
                        {% elif user.type == 'beneficiary' %}
                        <div class="user-role role-beneficiary">Beneficiary</div>
                        {% elif user.is_staff %}
                        <div class="user-role role-admin">Administrator</div>
                        {% endif %}

                        <div class="profile-stats">
                            {% if user.type == 'donor' %}
                            <div class="stat-card donor-stat">
                                <div class="stat-title">Total Donations</div>
                                <div class="stat-value">{{ total_donation }}</div>
                            </div>
                            <div class="stat-card impact-stat">
                                <div class="stat-title">Pending</div>
                                <div class="stat-value">{{ pending }} </div>
                            </div>
                            {% elif user.type == 'beneficiary' %}
                            <div class="stat-card beneficiary-stat">
                                <div class="stat-title">Received</div>
                                <div class="stat-value">{{ received }}</div>
                            </div>
                            <div class="stat-card history-stat">
                                <div class="stat-title">Pending</div>
                                <div class="stat-value">{{ pending  }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Recent activity card -->
                <div class="card">
                    <div class="card-header">
                        Recent Activity
                    </div>
                    <div class="card-body">
                        <div class="activity-log">
                            {% for activity in user.activities %}
                            <div class="activity-item">
                                <div class="activity-date">{{ activity.created_at }}</div>
                                <div class="activity-desc">{{ activity.description }}</div>
                            </div>
                            {% empty %}
                            <div class="activity-item">
                                <div class="activity-desc">No recent activity.</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            <!-- Right Column - Edit Profile -->
            <div class="card">
                <div class="card-header">
                    Edit Profile
                </div>
                <div class="card-body">
                    <form method="post" action=" {% url 'UserManagement:profile' %} ">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                        </div>

                        <div class="form-group">
                            {{ form.last_name.label }}    
                            {{ form.last_name }}    
                        </div>

                        <div class="form-group">
                            {{ form.email.label }}    
                            {{ form.email }}    
                        </div>
                            
                        <div class="form-group">
                            {{ form.phone_number.label }}    
                            {{ form.phone_number }}    
                        </div>

                        <div class="form-group">
                            {{ form.address.label }}    
                            {{ form.address }}    
                        </div>
                            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="overlay" id="overlay" onclick="closePP()">
    <div class="modal" id="modal">
        <h1 style="color: aliceblue;">Profile Picture</h1>
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" height="200px" width="200px" class="pp-img-overlay">
        {% else %}
        <img src="/media/profile_pictures/wow.jpg" alt="Default Profile Picture" height="200px" width="200px" class="pp-img-overlay">
        {% endif %}
    </div>
</div>


<script>
    function showFileName(event) {
        const fileInput = event.target;
        const fileName = fileInput.files[0] ? fileInput.files[0].name : 'No file selected';
        document.getElementById('file-name').textContent = fileName;
    }

    
    function showPP() {
        document.getElementById('overlay').style.display = 'flex';
    }
    function closePP() {
        const overlay = document.getElementById('overlay');
        overlay.style.animation = 'fadeOut 0.3s ease-in-out forwards';
        setTimeout(() => {
            overlay.style.display = 'none';
            overlay.style.animation = 'fadeIn 0.3s ease-in-out';
        }, 300);
    }
    
</script>
{% endblock %}