
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}
.modal {
    background: white;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 50%;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: popUp 0.3s ease-in-out forwards;
}
@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.close-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

input, textarea, #submit-request-btn {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    height: 50px;
}

#submit-request-btn {
    background: #28a745;
    color: white;
    cursor: pointer;
}
#submit-request-btn:hover {
    background: #218838;
}

@media (max-width:768px){
    .modal{
        width: 70%;
    }
}