<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Management System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="message {{ message.tags }}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block tab %}
        {% endblock %}

        {% block form %}
        {% endblock %}

        
    </div>

    {% block scripts %}
    {% endblock %}

    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{message|escapejs}}")
            {% endfor %}
        </script>
    {% endif %}


    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            {% if request.user.is_authenticated %}
              window.location.href="{% url 'DashboardAnalytics:dashboard' %}"           
            {% endif %}
        })
    </script>
</body>
</html>